@model OlivaTech.Site.Models.Oferta

@{
    ViewData["Title"] = "Excluir Oferta";
}

<div class="card-internal col-10 shadow card-center">
    <div class="card-title-internal">
        <h2>Oferta</h2>
    </div>
    <dl class="row">
        <dt class="text-oliva col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class="text-oliva col-sm-2">
            @Html.DisplayNameFor(model => model.Disponivel)
        </dt>
        <dd class="col-sm-10">
            @{
                var item = Model;
                if (item.Disponivel == true)
                {
                    <p class="text-success">Inscrições Abertas</p>
                }
                else
                {
                    <p class="text-danger">Inscrições Fechadas</p>
                }
            }
        </dd>
        <dt class="text-oliva col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curso.Cidade)
        </dd>
    </dl>
    <form class="text-center mb-3" asp-action="Delete">
        <input type="hidden" asp-for="OfertaId" />
        <input type="submit" value="Delete" class="btn btn-outline-oliva" />
        <a class="btn btn-outline-oliva" asp-action="Index" >Voltar</a>
    </form>
</div>
