@model IEnumerable<OlivaTech.Site.Models.Oferta>

@{
    ViewData["Title"] = "Ofertas";
}

<div class="col-6">
    <form method="get" asp-action="Index">
        <p>
            <a class="btn btn-outline-oliva" asp-action="Create" supress-by-claim-name="Ofertas" supress-by-claim-value="Create">Registrar Curso</a>
        </p>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar" value="@ViewData["TermSearch"]" name="searchTerm">
            <input type="submit" class="btn btn-outline-oliva" id="btn-default" value="Buscar">
        </div>
    </form>
</div>
<table class="table rounded shadow">
    <thead class="thead-oliva">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Curso.CursoTipo.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponivel)
            </th>
            <th>
                Preço
            </th>
            <th>
                Cidade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tbody-oliva">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.CursoTipo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Nome)
            </td>
            <td>
                @{
                    if (item.Disponivel == true)
                    {
                        <p class="text-success">Inscrições Abertas</p>
                    }
                    else
                    {
                        <p class="text-danger">Inscrições Fechadas</p>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Cidade)
            </td>
            <td>
                <a class="btn btn-oliva-pencil" asp-action="Edit" asp-route-id="@item.OfertaId" supress-by-claim-name="Ofertas" supress-by-claim-value="Edit"></a>
                <a class="btn btn-oliva-search" asp-action="Details" asp-route-id="@item.OfertaId" supress-by-claim-name="Ofertas" supress-by-claim-value="Details"></a>
                <a class="btn btn-oliva-trash" asp-action="Delete" asp-route-id="@item.OfertaId" supress-by-claim-name="Ofertas" supress-by-claim-value="Delete"></a>
            </td>
        </tr>
}
    </tbody>
</table>
